<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
  </head>
  <body>
    <h1>Sorry, we will be rightback</h1>
    <p>Something is being updated.</p>
  </body>
</html>
